<div style="background-color:#f7f4f4; height:800px; padding: 20px 0px 100px 10px; margin:0 0 0 -20px; border-right: 1px solid ; border-right-color:#b2b2b2; min-width:150px;">

		<ul class="nav nav-list">
		
			<li class="nav-header">General</li>
			<li><%= link_to "Home Page", root_path %></li>
			<li><%= link_to "Dashboard" %></li>
			<li><%= link_to "Dashboard" %></li>	
			
			<li class="divider"></li>
			
			<li class="nav-header">Jobs</li>
			<li><%= link_to "Jobs Index", jobsindex_path %></li>
			<li><%= link_to('Create a job', new_job_path)%></li>
			<li><%= link_to "Dashboard", root_path %></li>
			
			<li class="divider"></li>
			
			<li class="nav-header">Application</li>
			<li><%= link_to "Dashboard", root_path %></li>
			<li><%= link_to "Dashboard", root_path %></li>
			<li><%= link_to "Dashboard", root_path %></li>						
					
		</ul>	
		
		
										
</div>