<!DOCTYPE html>
<html>
<head>
  <title>Nest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if signed_in? %>

		<div class="container-fluid">
			<%= render 'layouts/header'%>
			<div class= "row-fluid">
				<div class="span2">
					<%= render 'layouts/sidebar'%>
				</div>
				<div class="span10 mainarea">
					<% flash.each do |key, value| %>
					        <div class="alert alert-<%= key %>"><%= value %></div>
					<% end %>
					<%= yield %>
				</div>
			</div>
			
			<div class="row-fluid">
					<%= render 'layouts/footer'%>
			</div>
			
		</div>

	<% else %>
	
		<div class="container">
			<%= yield %>
		</div>

	<% end %>
	
	<% if Rails.env.development? %>
		<div class="container">
			</br></br>
			<%= debug (params)%>
		</div>
	<% end %>


</body>
</html>
